<p id="notice"><%= notice %></p>
<div class="title_container">
  <div class="grid">
    <figure class="effect-romeo">
      <div class="title_circle">

      </div>

      <figcaption>
        <div class="title">Design<br>Feed</div>

        <p>This is where our "mission statement" will go.</p>
      </figcaption>
    </figure>
  </div>
</div>
