<p id="notice"><%= notice %></p>
  <div class="grid">
    <figure class="effect-romeo">
      <!-- <img  alt="img17" src="img/17.jpg"/> -->
      <div class="title_circle">

      </div>

      <figcaption>
        <div class="title">Design<br>Feed</div>

        <p>This is where our "mission statement" will go.</p>
      </figcaption>
    </figure>
  </div>
