<p id="notice"><%= notice %></p>
<div class="title_container">
  <div class="grid">
    <figure class="effect-romeo">
      <div class="title_circle">

      </div>

      <figcaption>
        <div class="title">Design<br>Feed</div>

        <p>"Mission statement" goes here.
        <br>Second sentence.
        <br>Third sentence?</p>

      </figcaption>
    </figure>
  </div>
</div>

<br>
<br>
