<% if @submission.user_id != current_user.id %>
  <h2>This is not your submission to edit.</h2>
<% else %>

<h1>Editing Submission</h1>

<%= render 'form' %>

<%= link_to 'Show', @submission, class: "profile_li" %> |
<%= link_to 'Back', :back, class: "profile_li" %>

<% end %>
