
  <h1 id="faq_header">What is DesignFeed?</h1>

  <!-- <h2>About</h2> -->

  <div class="faq_box">

  <p>DesignFeed is an interactive web-application that allows users
    to submit their own HTML and CSS code and receive feedback from
    other users. Sign up and show off something that you've been
    working on! You can leave comments on other users' submissions, as well
    as vote on any submissions that you like!
  </p>
  </div>
  <br><br>
  <div class="faq_box">
    <p>This project was created by <a href="http://agreenberg.herokuapp.com/" target=_blank>Alec Greenberg</a>,
    <a href="http://joann.herokuapp.com" target=_blank>Joann Kim</a>, and <a href="http://capjuancode.co" target=_blank>
    Juan Lopez</a>. We are part of the second cohort in Wyncode Academy in Fort Lauderdale!
    </p>
  </div>
