<!-- <h1>Faq#index</h1>
<p>Find me in app/views/faq/index.html.erb</p> -->

<div id="page-wrap">

  <h1>What is DesignFeed?</h1>

  <!-- <p class="h1_paragraph">This is where the main paragraph will go.</p> -->

  <h2>About</h2>

  <p>DesignFeed is an interactive web-application that allows users
    to submit their own HTML/CSS code and get feedback instantly from
    other users.
  </p>

  <h2 class="left-only">Left Bar</h2>

  <p></p>

  <h2 class="right-only">Right Bar</h2>

  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
    tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

</div>
