<!-- <h1>Faq#index</h1>
<p>Find me in app/views/faq/index.html.erb</p> -->


  <h1>What is DesignFeed?</h1>

  <!-- <h2>About</h2> -->

  <h2 class="left-only">About</h2>

  <div class="faq_box">
  <p>DesignFeed is an interactive web-application that allows users
    to submit their own HTML/CSS code and receive feedback instantly from
    other users. It's not about showcasing your best work
    although it's perfectly acceptable to do so! -
    nor are users here to troubleshoot or fix your code for you.
  </p></div>

  <h2 class="right-only">How do I get started?</h2>

  <div class="faq_box"
  <p>Sign up and submit a working piece of code! You can instantly see what it looks
    like when you submit it and other users can comment with their own suggestions.</p>
  </div>
