
  <h1 id="faq_header">What is DesignFeed?</h1>

  <!-- <h2>About</h2> -->

  <div class="faq_box">

  <p>DesignFeed is an interactive web-application that allows users
    to submit their own HTML and CSS code and receive feedback from
    other users. Sign up and show off a piece of code that you've been
    working on! You can leave comments on other users' submissions, as well
    as vote on submissions that you like!
    </aside>
  </p>

  </div>
