/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

body {
   // background: -moz-linear-gradient(to left top, #F2F2BE, #A8DBA8, #79BD9A, #3B8686, #08565A); /* FF3.6+ */
  //  background: -webkit-linear-gradient(to left top, #F2F2BE, #A8DBA8, #79BD9A, #3B8686, #08565A); /* Chrome10+,Safari5.1+ */
  // background: -o-linear-gradient(to left top, #F2F2BE, #A8DBA8, #79BD9A, #3B8686, #08565A); /* Opera 12+ */
  // background: -ms-linear-gradient(to left top, #F2F2BE, #A8DBA8, #79BD9A, #3B8686, #08565A); /* IE10+ */
   background: linear-gradient(to left top, #F2F2BE, #A8DBA8, #79BD9A, #3B8686, #08565A ); /* W3C */
   /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2F2BE', endColorstr='#08565A',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: auto;
 }

h1 {
  padding-top: 0.85em;
  padding-bottom: 0.75em;
}

// nav bar customization

.nav_bar {
  position: fixed;
  top: 0em;
  background: radial-gradient(circle, gray 40%, black 75%);
  width: 100%;
  margin-left: -0.769em;
  margin-right: -0.769em;
  padding-right: 0.769em;
  z-index: 1;
}

.nav_bar a {
    font-family: 'Megrim', sans-serif;
    font-size: 13px;
}
.nav_bar ul li a {
  background: none;
}

.nav_bar_space {
  height: 3.846em;
}
.nav_bar1 {
    width: 82%;
    float: left;
}
.nav_bar2.user_link {
    width: auto;
    float: right;
}

.nav_bar ul {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0em 0.308em 0em 0;
  list-style: none;
}
.nav_bar ul li {
    color: white;
    font-family: 'Megrim', sans-serif;
    font-size: 19.5px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-right: -0.385em;
    position: relative;
    padding: 0.769em 1.026em;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}

.nav_bar ul li:hover  {
  background: #555;
  color: #fff;
  font-size: 1.7em;
  line-height: 1.041em;
  padding: 0.679em 0.905em;
}

body>.nav_bar>.nav_bar1>ul>li:hover .nav_bar {
  /*height: 5.385em;*/
}
// .nav_bar li ul:hover {
//   background: #555;
//   color: #fff;
// }

.nav_bar ul li ul {
  padding: 0;
  position: absolute;
  top: 3.6em;
  left: 0;
  width: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.nav_bar ul li ul li:not(.sign_out){
  padding-right: 0em;
}

.nav_bar ul li ul li{
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -0.077em 0 #000;
  margin-right: 0em;
}

.nav_bar ul li ul li:hover { background: #666; }
.nav_bar ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.nav_bar1>ul  {
    margin-left: 21%;
}


a {
  font-family: 'Unica One', cursive;
  font-size: 13px;
}


// unvisited link //
a:link {
    color: white;
    text-decoration: none;
}

// visited link //
a:visited {
    color: white;
    text-decoration: none;
}

// mouse over link //
a:hover {
    color: black;
    background-color: inherit;
    text-decoration: none;
}

// selected link //
a:active {
    color: white;
    text-decoration: none;
}

//  Button customization   //


input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color: black;
	font-family:'Unica One';
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input[type="submit"]:hover {
  color: #777777;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
input[type="submit"]:active {
	position:relative;
	top:1px;
}

// to sign with GitHub in the log-in page

input.sign_in_out {
  width: 11.2em;
}

// This modifies the "DesignFeed, Wyncode Project" sentence //
// at the bottom (footer text) //

.footer {
  color: black;
  font-family: 'Unica One', sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 1.5em;
  padding-top: 2em;
}

* {
  margin: 0;
  padding: 0;
}

#new_user label {
  font-size: 1.5em;
}

#new_user .field input {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.2em;
}
