/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
 font-family: 'Unica One', cursive;
 }

h1 {
  /*padding-top: .5em;*/
}

.nav_bar {
  position: fixed;
  /*height: 53px;*/
  top: 0em;
  background: radial-gradient(circle, grey 40%, black 75%);
  width: 100%;
  margin-left: -0.769em;
  margin-right: -0.769em;
  padding-right: 0.769em;
  z-index: 1;
  /*-webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;*/
}

.nav_bar a {
    font-family: 'Megrim', sans-serif;
    font-size: 13px;
}
.nav_bar ul li a {
  background: none;
}

.nav_bar_space {
  height: 3.846em;
}
.nav_bar1 {
    width: 82%;
    float: left;
}
.nav_bar2.user_link {
    width: auto;
    float: right;
}

.nav_bar ul {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0em 0.308em 0em 0;
  list-style: none;
  /*-webkit-box-shadow: 0 0 0.385em rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0.385em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0.385em rgba(0, 0, 0, 0.15);*/
}
.nav_bar ul li {
    color: white;
    font-family: 'Megrim', sans-serif;
    font-size: 19.5px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-right: -0.385em;
    position: relative;
    padding: 0.769em 1.026em;
    /* background: #fff; */
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.nav_bar ul li:hover  {
  background: #555;
  color: #fff;
  font-size: 1.7em;
  line-height: 1.041em;
  padding: 0.679em 0.905em;
}

body>.nav_bar>.nav_bar1>ul>li:hover .nav_bar {
  /*height: 5.385em;*/
}
/*.nav_bar li ul:hover {
  background: #555;
  color: #fff;
}*/

.nav_bar ul li ul {
  padding: 0;
  position: absolute;
  top: 3.692em;
  left: 0;
  width: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.nav_bar ul li ul li:not(.sign_out){
  padding-right: 0em;
}

.nav_bar ul li ul li{
  background: #555;
  display: block;
  color: #fff;
  text-shadow: 0 -0.077em 0 #000;
  margin-right: 0em;
}

.nav_bar ul li ul li:hover { background: #666; }
.nav_bar ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.nav_bar1>ul  {
    margin-left: 21%;
}


a {
  font-family: 'Unica One', cursive;
  font-size: 13px;
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    background-color: inherit;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

/* This modifies the 'Upload Your Avatar Here' link   */

.here_link:link, .here_link:visited {
  color: brown;
}
.here_link:hover {
    color: #2AB0ED;
    background-color: inherit;
    text-decoration: none;
}

/* Selected link */

.here_link:active {
    color: green;
    text-decoration: none;
}

/*  Button customization   */

.button {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #000000);
  background-image: -moz-linear-gradient(top, #000000, #000000);
  background-image: -ms-linear-gradient(top, #000000, #000000);
  background-image: -o-linear-gradient(top, #000000, #000000);
  background-image: linear-gradient(to bottom, #000000, #000000);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 1.538em;
  font-family: 'Unica One', Helvetica, sans-serif;
  color: #ffffff;
  font-size: 1.154em;
  padding: 0.769em 1.154em 0.769em 1.154em;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}


/* This modifies the "DesignFeed, Wyncode Project" sentence
at the bottom (footer text) */

.footer {
  color: black;
  font-family: 'Unica One', sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 1.5em;
  padding-top: 2em;
}
