/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

h1, h2, p {
  font-family: 'Unica One', serif;
  font-size: 3em;
  margin: 1.538em 0;
  line-height: normal;
}
