/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.faq_box {
  font-family: 'Unica One', serif;
  font-size: 3em;
  text-align: center;
  /*border: 3px solid black;*/
  /*display: flex;*/
}

#faq_header {
  color: white;
  font-size: 1.5em;
  line-height: normal;
  padding-top: 0.55m;
  padding-bottom: 0.65em;
}

.faq_box p {
  font-family: 'Unica One', serif;
  margin-bottom: auto;
  width: 35em;
}
