/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.faq_box p {
  color: white;
  background-color: rgba(40, 44, 44, 0.6);
  font-family: 'Marmelad', sans-serif;
  font-size: 2.5em;
  margin-bottom: auto;
  width: 30em;
  margin: auto;
  padding: 1.2em 1.3em;
}
