/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  This is the CSS for the profiles page.
*/

body {
/* background: -moz-radial-gradient(center, ellipse cover, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
/* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
/* background: -webkit-radial-gradient(radial-gradient (#cdeb8e 25%, #a5c956 50%); /* Chrome10+,Safari5.1+ */
/* background: -o-radial-gradient(center, ellipse cover, #cdeb8e 0%,#a5c956 100%); /* Opera 12+ */
/* background: -ms-radial-gradient(center, ellipse cover, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
background: linear-gradient(#F2F2BE 25%, #08565A 90%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
background-repeat: no-repeat;
background-size: auto;
}

  /* This is to modify the appearance of the header   */

h1 {
  font-family: 'Megrim', serif;
  font-size: 6.5em;
  font-weight: bold;
  text-align: center;
}

  /* This is to modify the appearance of the links  */

a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  font-weight: bold;
  text-decoration: none;
}

/* This is the CSS for the pre-set avatar images. */

.avatar_mini {
  height: 150px;
  width: 150px;
}

.avatar_profile {

}

.avatar_image {
  width: 150px;
  height: 150px;
  float: left;
}

.avatar_list_item {
  display: inline-block;
}

  /* This is the horizontal box where the
  pre-set avatars are contained.   */

.avatar_image_selector {
  height: 160px;
  width: 677px;
  margin: 0px auto 0px;
  /*border: 1px solid;*/
  white-space: nowrap;
  text-align: start;
  /*background: white;*/
  overflow-x: scroll;
  padding: 10px;

}

/* This is the text box for the 'About Me' under Profile.  */

#profile_about_me {
  width: 550px;
  height: 100px;
  font-size: 1.5em;
}


/* This shows a visible horizontal scroll bar when scrolling
through the pre-set avatar images. The background of the avatar turns
yellow upon selection. */

.scroll ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 5px;
}
.scroll ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.selected {
  background: yellow;
}
