/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  This is the CSS for the profiles page.
*/

  .profile_show_lower {
    width: 40em;
    margin: 0 auto;
  }

.profile_title {
  font-family: 'Unica One', serif;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

.about_me {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.3em;
  text-align: left;
  padding-left: 1.75em;
  padding-right: 1.75em;
}

.about_me strong {
  font-size: 1.85em;
  padding: -1em;
}

div.about_me {
  background: white;
  border: 0.077em solid;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: start;
}

/* This is the CSS for the username container in Listing Profiles   */

  .profile_p strong {
    font-family: 'Unica One', serif;
    font-size: 1.6em;
  }

  .profile_li a, a.profile_li {
    color: red;
    font-size: 1.35em;
  }

  .profile_li a:link, a.profile_li:link {
    color: red;
  }

  .profile_li a:visited, a.profile_li:visited {
    color: red;
  }

  .profile_li a:hover, a.profile_li:hover{
    color: green;
  }
  #user_name {
      color: white;
    	font-family: 'Unica One', serif;
      font-size: 1.8em;
      text-align: center;
      margin: auto;
      margin-bottom: -0.35em;
      background-color: rgba(0, 0, 14, 0.6);
      border-radius: 3.5em;
      width: auto;
      padding: 0.5em;
  }

    .profile_box:hover #user_name {
      color: #C8E386;
      text-decoration: none;
    }

  /* This is the CSS for the submissions container in Listing Profiles   */

  #user_sub {
    color: white;
    font-family: 'Unica One', serif;
    font-size: 1.35em;
    text-align: center;
    margin: auto;
    margin-top: -0.7em;
    background-color: rgba(0, 0, 14, 0.6);
    border-radius: 3.5em;
    width: auto;
    padding: 0.5em;
  }

  .profile_box:hover #user_sub {
    color: #C8E386;
    text-decoration: none;
  }

  /* This is to modify the appearance of the header   */

h1 {
  font-family: 'Megrim', serif;
  font-size: 6.5em;
  font-weight: bold;
  text-align: center;
}

  /* This is to modify the appearance of the links  */

a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  font-weight: bold;
  text-decoration: none;
}

/* This is the CSS for the pre-set avatar images. */

.avatar_mini {
  height: 11.538em;
  width: 11.538em;
}

.avatar_profile {
  height: 19.692em;
  width: 19.692em;
}

.avatar_index {
  height: 11.538em;
  width: 11.538em;
}

.avatar_image {
  width: 11.538em;
  height: 11.538em;
  float: left;
}

.avatar_list_item {
  display: inline-block;
}

  /* This is the horizontal box where the
  pre-set avatars are contained.   */

.avatar_image_selector {
  height: 12.308em;
  width: 52.077em;
  /*margin: 0em auto 0em auto;*/
  /*border: 0.077em solid;*/
  white-space: nowrap;
  text-align: start;
  /*background: white;*/
  overflow-x: scroll;
  padding-bottom: 0.769em;

}

/* This is the text box for the 'About Me' under Profile.  */

#profile_about_me {
  width: 28.206em;
  height: 5.129em;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
}


/* This shows a visible horizontal scroll bar when scrolling
through the pre-set avatar images. The background of the avatar turns
yellow upon selection. */

.scroll ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.538em;
  height: 0.385em;
}
.scroll ::-webkit-scrollbar-thumb {
  border-radius: 0.308em;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 0.077em rgba(255, 255, 255, .5);
}

.selected {
  background: yellow;
}

.scroll {
  width: 52.077em !important;
}

/*section for display profile index*/

.profiles_container {
    text-align: center;
}

.profile_box {
    width: 12em;
    margin: 1em;
    display: inline-block;
}

.avatar_index_profiles {
    margin: 0.25em;
}
