/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*
  This is the CSS for the profiles page.
*/

body {
/* background: -moz-radial-gradient(center, ellipse cover, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
/* background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
/* background: -webkit-radial-gradient(radial-gradient (#cdeb8e 25%, #a5c956 50%); /* Chrome10+,Safari5.1+ */
/* background: -o-radial-gradient(center, ellipse cover, #cdeb8e 0%,#a5c956 100%); /* Opera 12+ */
/* background: -ms-radial-gradient(center, ellipse cover, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
background: linear-gradient(#FEFFFF 20%, #BFE8F9 50%, #2AB0ED 90%); /* W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
background-repeat: no-repeat;
background-size: auto;
}

  /* this is to modify the appearance of the 'DesignFeed' title
  as well as the circular border around the title */

div.title_circle {

  /*padding-bottom: -0.5em;*/
  width: 25em;
  height: 25em;
  margin: auto;
  display: inline-block;
  border-radius: 12.5em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  /*background-color: rgba(45, 44, 44, 0.9);*/
  /*background: -webkit-radial-gradient(circle, red, yellow, green); /* Safari */
  /*background: -o-radial-gradient(circle, red, yellow, green); /* Opera 11.6 to 12.0 */
  /*background: -moz-radial-gradient(circle, red, yellow, green); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, grey, black); /* Standard syntax */
}

div.title {
  color: white;
  font-family: 'Unica One', cursive;
  font-size: 7.5em;
  font-weight: bold;
  text-align: inherit;
  line-height: 0.75em;
  margin: auto;
  margin-top: 28%;
  display: inline-block;
}

  /* this is to modify the appearance of the header   */
h1 {
  font-family: 'Unica One', cursive;
  font-size: 5.5em;
  font-weight: bold;
  text-align: center;
}

  /* this is to modify the appearance of the links  */

a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: inherit;
  font-weight: bold;
  text-decoration: none;
}

a:active {
  font-weight: bold;
  text-decoration: none;
}
