/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  text-align: center;
  font-family: 'Unica One', cursive;
  font-size: 13px;
}

/*h3 {
  padding-bottom: 1em;
  padding-top: 1em;
}*/

#profile_username {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.25em;
}

#profile_about_me {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.5em;
}

.field, .code_input, .actions, .code_box {
  /*margin-bottom: 0.769em;*/
  width: 47.692em;
  text-align: center;
  margin: 0em auto 3.846em;
}

.title_and_entry {
  width: 55em;
  text-align: left;
  margin: 0em auto 3.846em;
}

.sub_title {
  // margin-bottom: 2.308em;
  width: 40.846em;
  padding: 0.5em 0em;
  float: left;
}
.sub_title h2 {
  font-size: 3em;
  /*text-align: center;*/
  padding: 0.3em;
  padding-left: 0em;
  margin: 0em auto;
  z-index: -1;
}

.votes {
  width: 25em;
  float: right;
  margin-top: 1em;
  font-size: 0.5em;
  display: inline-block;
}

.vote_btn ::before, .vote_btn ::after {
  font-size: 2.3em;
  // text-align: center;
  /*display: inline-block;*/
}
.vote_btn {
  margin-top: 0.2em;
}

.vote_btn_div {
  display: inline-block;
  width: 5em;
}

.vote_count {
  width: 4.7em;
  height: 1.5em;
  font-size: 4em;
  text-align: left;
  display: inline-block;
  position: relative;
  top: -0.7em;
  color: white;
}

.entry {
  clear: both;
}

.code_box {
  height: 24.615em;
}

.iframe iframe {
  width: 61.538em;
  height: 38.462em;
}

.timestamp {
  text-align: right;
  margin-top: 0em;
}

.comment {
  width: 53.846em;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.show_sections {
  color: black;
  background-color: white;
  font-size: 1.35em;
  font-weight: bold;
  border-radius: 3.5em;
  width: 50em;
  padding: 1.25em 1em;
  margin: auto 1.5em 1.3em;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.timestamp p {
  font-size: 2em;
  font-family: 'Unica One', sans-serif;
}

.code_field textarea {
  margin: 0em auto 4.55em;
  width: 27.273em;
  height: 27.273em;
  padding: 0.6153846153846154em;
}

#response_comment {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.3em;
  margin: auto;
  width: 35em;
  height: 10em;
}

#submission_html, #submission_css {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.25em;
  width: 17.23076923076923em;
  height: 17.23076923076923em;
}
/* The HTML and CSS text field boxes on sub page */
.html_field, .css_field {
  font-family: 'Ubuntu Mono', 'Lucida Console', sans-serif;
  font-size: 1.4em;
  line-height: normal;
  margin: 0em auto 0em;
  width: 15.6050em;
  height: 16.484em;
  border: 0.077em solid;
  white-space: pre;
  word-wrap: break-word;
  text-align: start;
  background: white;
  overflow: scroll;
  padding: 0.549em;
}

.code_input .code_field, .html_box, .css_box {
  float: left;
  text-align: center;
  margin-left: 0.154em;
  margin-right: 0.154em;
}

.actions {
  clear: both;
}

  /* This modifies the appearance of the header 'New Submission'  */

h1 {
  font-family: 'Unica One', cursive;
  font-size: 5.5em;
  font-weight: bold;
  text-align: center;
  /*padding-top: 1em;*/
}


/* For the show code options in displaying the comments*/

.more {
  margin: 0 auto 0;
  padding: 0.154em 1.154em;
  width: 47.692em;
  position: relative;
}

.comment_code {
  margin-bottom: 0.769em;
  margin-top: -0.385em;
}

.more-btn-container {
  /*display: inline-block;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.more-btn {
  text-align: center;

}

.more .code_box, .more .code_input, .iframe_box {
  display: none;
}

.iframe_box iframe, .iframe_box {
  width: 47.692em;
  height: 38.462em;
  margin-left: auto;
  margin-right: auto;
}

#response_css, #response_html {
  margin-bottom: 0.769em;
}

.comment_hidden_div {
  visibility: hidden;
  float: left;
  position: relative;
  top: -5.385em;
}

.new_comment_hidden_div {
  visibility: hidden;
  float: left;
  position: relative;
  top: -16.154em;
}

.here_link {
  color: black;
}

/* this is for index submission */
.submission_box a {
    color: black;
}
.submission_box {
    margin: 1.538em auto;
    height: 7.692em;
    width: 69.231em;
    padding: 1.154em;
    border-radius: 0.538em;
    background-color: white;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.submission_box:before, .submission_box:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 10px 5px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 10px 5px rgba(0,0,0,0.8);
  box-shadow:0.4em 0.8em 0.75em 0.1em black;
  top:0;
  bottom:0;
  left:0;
  right:0;
  -moz-border-radius:100px / 1em;
  border-radius:100px / 0.75em;
}

.sub_right {
    width: 15%;
    float: right;
    height: 7.692em;
    color: black !important;
}

.sub_left {
    width: 80%;
    float: left;
    height: 7.692em;
    color: black !important;
}

.submission_box a:link {
    color: black;
}

.sub_left:hover {
  color: #08565A !important;
}

.sub_right:hover {
  color: #08565A !important;
}

.submission_title {
    float: left;
    height: 1.538em;
    margin: 0.385em;
    margin-right: 1.154em;
}

.submission_title h3 {
  font-size: 1.9em;
}

.submission_entry  {
    clear: both;
    float: left;
    text-align: left;
    height: 3.692em;
    margin-left: 1.923em;
    margin-right: 1.154em;
    font-size: 1.2em;
    font-weight: normal;
}

.sub_resp_count {
  float: right;
  clear: both;
  /*position: relative;*/
  /*top: 82px;*/
  /*bottom: 0em;
  right: 0em;*/
  height: 1.385em;
  width: 7.692em;
  text-align: right;
}

.avatar_submissions {
  height: 4.615em;
  width: 4.615em;
}
