/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  text-align: center;
}

.field, .code_input, .actions, .code_box {
  /*margin-bottom: 10px;*/
  width: 620px;
  text-align: center;
  margin: 0px auto 50px;
}

.title_and_entry {
  width: 700px;
  text-align: left;
  margin: 0px auto 50px;
}

.title {

  margin-bottom: 30px;
}

.code_box {
  height: 324px;
}

.iframe iframe {
  width:800px;
  height: 500px;
}

.timestamp {
  text-align: right;
  margin-top: 0px;
}

.comment {
  width: 700px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.show_sections {
  margin-bottom: 50px;
}

.code_field textarea {
  margin: 0px auto 50px;
  width: 300px;
  height: 300px;
}

/*code boxes on show page*/
.html_field, .css_field {
  margin: 0px auto 0px;
  width: 284px;
  height: 300px;
  border: 1px solid;
  white-space: pre;
  word-wrap: break-word;
  text-align: start;
  background: white;
  overflow: scroll;
  padding: 10px;
}

.code_input .code_field, .html_box, .css_box {
  float: left;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.actions {
  clear: both;
}

  /* this is to modify the appearance of the header 'New Submission'  */

h1 {
  font-family: 'Unica One', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}


/*for the show code options in displaying the comments*/

.more {
  /*background: rgba(255,255,255,0.1);*/
  /*border-bottom: 1px solid rgba(0,0,0,0.25);
  border-top: 1px solid rgba(255,255,255,0.1);*/
  /*box-shadow: 0 2px 10px rgba(0,0,0,0.1);*/
  margin: 0 auto 0;
  padding: 2px 15px;
  width: 620px;
  /*position: relative;*/
}

.comment_code {
  margin-bottom: 10px;
  margin-top: -5px;
}

.more-btn-container {
  /*display: inline-block;*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.more-btn {
  text-align: center;

}

.more .code_box, .more .code_input, .iframe_box {
  display: none;
}

.iframe_box iframe, .iframe_box {
  width:620px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

#response_css, #response_html {
  margin-bottom: 10px;
}
