/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  text-align: center;
}

.field, .code_input, .actions {
  /*margin-bottom: 10px;*/
  width: 612px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width:800px;
  height: 500px;
}

.code_field textarea {
  margin: 0px auto 50px;
  width: 300px;
  height: 300px;
}

.code_field {
  float: left;
  text-align: center;
}

.actions {
  clear: both;
}
