/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  text-align: center;
}

.field, .code_input, .actions, .code_box {
  /*margin-bottom: 10px;*/
  width: 620px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width:800px;
  height: 500px;
}

.code_field textarea {
  margin: 0px auto 50px;
  width: 300px;
  height: 300px;
}

/*code boxes on show page*/
.html_field, .css_field {
  margin: 0px auto 50px;
  width: 300px;
  height: 300px;
  border: 1px solid;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  background: white;
  overflow: scroll;
  padding: 2px;
}

.code_input .code_field, .html_box, .css_box {
  float: left;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.actions {
  clear: both;
}

  /* this is to modify the appearance of the header 'New Submission'  */

h1 {
  font-family: 'Unica One', cursive;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}
